<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main class="container">

    <div class="row">
        <div class="col-d-6 mx-auto">

            <h1 class="display-6 mt-3"> Create New Blog </h1>

            <form action="/blogs" method="POST">

                <!-- <div class="mb-3">
                    <label for="name" class="form-label"> Name: </label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Creator Name">
                </div> -->

                <div class="mb-3">
                    <label for="topic" class="form-label"> Topic: </label>
                    <input type="text" class="form-control" name="topic" id="topic" placeholder="Topic">
                </div>

                <div class="mb-3">
                    <label for="desc" class="form-label"> Blog: </label>
                    <textarea class="form-control" name="desc" id="desc" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-success btn-small"> Submit </button>

            </form>
        </div>

    </div>

</main>

<%- include("../partials/footer") %>